.register {
    width: 600px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    text-align: center;
    padding: 15px;
}
.register h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}
.register form div {
    display: block;
    clear: both;
}
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}
.register form input[type="text"], .register form input[type="password"], .register form input[type="email"] {
    width: 400px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}

#message {
    margin: 0px;
}

@media screen and (max-width: 605px){
    .register {
        width: 100%;
    }
    .hide-on-small-screen {
        display: none !important;
    }
    .register form input[type="text"], .register form input[type="password"], .register form input[type="email"] {
        width: 100%;
    }
}