* {
    margin: 0px;
    padding: 0px;
}

#canvas {
    height: 450px;
    width: 450px;
}

.container iframe {
    width: 454px;
    height: 454px;
    border: 0px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}