* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #f7f9ff;
}
.content-container {
    margin-top: 100px;
    background: #fff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
}
.content-container h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.content-container span {
    text-align: center;
    display: block;
}
.alert {
    position: fixed;
    top: 80px;
    width: 100%;
    text-align: center;
}
.alert-dismissible .close {
    padding: 0.45rem 1.25rem;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
    .content-container {
        width: 100%;
    }
}