{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 content-container">
            <h1>Oops! Something went wrong!</h1>
            <span>You probably took a wrong turn somewhere.</span>
            <span>Click <a href="#" onClick="window.history.back()">here</a> to go back.</span>
        </div>
    </div>
</div>





{% endblock %}