{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/snakecharmer/resources/css/register.css">
{% endblock %}

{% block scripts %}
    <script src="/snakecharmer/resources/js/password-validation.js"></script>
{% endblock %}

{% block content %}

<div class="register">
    <h1>Register</h1>
    <form action="app/auth/changepassword.php" method="post">
        <input type="hidden" name="userId" value="{{userId}}">

        <label for="old-password" class="hide-on-small-screen">Old password</label>
        <input type="password" name="old-password" id="old-password" placeholder="Old Password" required>

        <label for="password" class="hide-on-small-screen">New password</label>
        <input type="password" name="password" id="password" placeholder="New password" required>

        <label for="confirm-password" class="hide-on-small-screen">Confirm password</label>
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required>

        <span id="message"></span>

        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}