{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/snakecharmer/resources/css/login.css">
{% endblock %}

{% block content %}

<div class="login">
<form action="app/auth/forgotpassword.php" method="post">
    <label for="email" class="hide-on-small-screen">
        <i class="fas fa-user"></i>
    </label>
    <input type="email" name="email" placeholder="Email" id="email" required>

    <input type="submit" value="Send recovery link">
</form>
</div>

{% endblock %}