{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/snakecharmer/resources/css/snake.css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 content-container">
        <h1>Snakes in the Canvas</h1>
            <iframe src = "/snakecharmer/resources/views/snakegame.php">
                Sorry your browser does not support inline frames.
            </iframe>
            <span>Help feed Mr. Snake by using the <strong>arrow keys</strong>. <br />
            If the game gets too intense, or you just need a new drink. Press <strong>P</strong> to pause!</span>
        </div>
    </div>
</div>

{% endblock %}