{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 content-container">
            <h1>Welcome {{ firstname }}</h1>
            <p>This is a very simple user authorization example. It covers the basics of login/logout and user creation.</p>
            <p>It is made using the following:</p>
            <ul>
                <li>PHP v. 7.2.7</li>
                <li>Composer</li>
                <li>Twig</li>
                <li>jQuery v. 3.4.1</li>
                <li>Bootstrap v. 4.3.1</li>
                <li>Fontawesome v. 5.7.1</li>
            </ul>
            <p>
                As an added bonus I've put in a homebuilt jQuery Snake game as well. However the code for that is very old, 
                and I won't make any promises for the quality of the comments or the code, but hey! It's Snake :-)
            </p>
            <p>
                You can find the source code for this project on Bitbucket, follow this link: 
                <a href="https://bitbucket.org/martinpagelj/snakecharmer/" target="_blank">https://bitbucket.org/martinpagelj/snakecharmer/</a> 
            </p>
        </div>
    </div>
</div>





{% endblock %}