<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ pageTitle ? pageTitle : appTitle }}</title>                
        <link href="/snakecharmer/resources/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="/snakecharmer/resources/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        {% block stylesheets %}
        {% endblock %}
        <script src="/snakecharmer/resources/js/jquery-3.4.1.min.js"></script>
        <script src="/snakecharmer/resources/js/bootstrap.min.js"></script>
        <script src="/snakecharmer/resources/js/script.js"></script>
        {% block scripts %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="?page=home">SnakeCharmer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">                    
                    {% if loggedIn == true %}
                    <li class="nav-item">
                        <a class="nav-link" href="?page=home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?page=game">Snake game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?page=changepassword">Change password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{homeUrl}}app/auth/logout.php">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="?page=login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="?page=register">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div id="content-main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>