{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/snakecharmer/resources/css/login.css">
{% endblock %}

{% block content %}

<div class="login">
<form action="app/auth/authenticate.php" method="post">
    <label for="email" class="hide-on-small-screen">
        <i class="fas fa-user"></i>
    </label>
    <input type="email" name="email" placeholder="Email" id="email" required>

    <label for="password" class="hide-on-small-screen">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="password" placeholder="Password" id="password" required>

    <a href="?page=forgotpassword">Forgot password?</a>

    <input type="submit" value="Sign in">
</form>
</div>

{% endblock %}