{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/snakecharmer/resources/css/register.css">
{% endblock %}

{% block scripts %}
    <script src="/snakecharmer/resources/js/password-validation.js"></script>
{% endblock %}

{% block content %}

<div class="register">
    <h1>Register</h1>
    <form action="app/auth/register.php" method="post">
        <label for="firstname" class="hide-on-small-screen">Firstname</label>
        <input type="text" name="firstname" id="firstname" placeholder="Firstname" value="{{firstname}}" required>

        <label for="lastname" class="hide-on-small-screen">Lastname</label>
        <input type="text" name="lastname" id="lastname" placeholder="Lastname" value="{{lastname}}" required>

        <label for="email" class="hide-on-small-screen">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" value="{{email}}" required>

        <label for="password" class="hide-on-small-screen">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>

        <label for="confirm-password" class="hide-on-small-screen">Confirm password</label>
        <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password" required>

        <span id="message"></span>

        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}